@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


  sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... }
} */

@layer utilities {
  .bg-image-home {
    background-image: url('/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: 640px) {
    .bg-image-home {
      background-image: url('/home/background-home-tablet.jpg');
    }
  }
  @media (min-width: 1024px) {
    .bg-image-home {
      background-image: url('/home/background-home-desktop.jpg');
    }
  }
}



/* body {
  background-image: url('/home/background-home-mobile.jpg');
} */